.iconContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    
    .icon{
        font-size: 4rem;
    }
    .userImage{
        height: 65px;
        width: 65px;
        border-radius: 50%;
    }
}









@keyframes verifyMsgAnimation {
    0% {
        transform: scaleY(0) translateX(-50%) translateY(-100%);
    }
    100% {
        transform: scaleY(1) translateX(-50%) translateY(45px);
    }
}


.verifyMsg.hide {
    animation: .5s ease-in-out hideMsgAnimation forwards;
}

@keyframes hideMsgAnimation {
    0% {
        transform: scaleY(1) translateX(-50%) translateY(45px);
        
    }
    100% {
        transform: scaleY(0) translateX(-50%) translateY(-100%);
    }
}